NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_STORE_NAME=TODO: Store legal name
NEXT_PUBLIC_STORE_CR=TODO: Commercial Registration number
NEXT_PUBLIC_STORE_EMAIL=TODO: support@example.com
NEXT_PUBLIC_STORE_PHONE=TODO: +966XXXXXXXXX
NEXT_PUBLIC_STORE_ADDRESS=TODO: Business address
