NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_STORE_NAME=Half Link Energy & Security
NEXT_PUBLIC_STORE_LEGAL_NAME=Half Link Marketing Company
NEXT_PUBLIC_STORE_CR=1010867974
NEXT_PUBLIC_STORE_VAT=311602607300003
NEXT_PUBLIC_STORE_EMAIL=mohammed@halflink.sa
NEXT_PUBLIC_STORE_PHONE=+966 50 043 7374
NEXT_PUBLIC_STORE_ADDRESS=King Abdulaziz Road, Riyadh 13326, Saudi Arabia
